.top-nav-header{
  padding: 20px;
  background-color: #177CB0;
}

.top-nav-header a,
.top-nav-header a:active,
.top-nav-header a:visited{
  text-decoration: none;
  color: white;
}

.top-nav-header .header-title h1 {
  font-size: 20px;
  color: white;
}

.top-nav-header .header-title {
  width: 50%;
  float: left;
}

.top-nav-header .header-menu-above{
  margin-left: 84%;
}

.top-nav-header .header-menu-above ul > li {
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
  display: inline;
  font-size: 20px;
}

.top-nav-header .header-menu-below {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.list-below{
  margin-right: 35px;
}

.header-div{
  color: white;
  width: 100%;
}
