.img-field{
  //background-color: #177CB0;
}

.img{
  margin-left: 22%;
  width: 50%;
}

.img-text{
  background-color: #177CB0;
  width: 50%;
  margin-left: 22%;
}

.img-text-h2{
  font-size: 30px;
  width: 50%;
  color: white;
  margin-left: 37%;
}
