.regi-with-email-wrapper{
  width: 480px;
  padding: 10%;
  position: absolute;
  bottom: 45%;
  transform: translate(50%, 50%);

  mat-form-field{
    width: 100%;
    margin-bottom: 5px;
  }

  .flex-div{
    .flex-img{
      width: 60px;
    }
    .flex-para{
      font-size: 15px;
      margin: 5%;
      font-weight: bold;
    }
  }

}

.regi--with-email-wrapper .button{
  margin-top: 5px;
}

.flex-img{
  width: 50%;
}

.margin-top-16{
  margin-top: 16px;
}
