<div class="dashboard-div">

  <div class="dashboard-div1" fxLayout="row" fxLayoutAlign="space-evenly start">
    <div class="dashboard-div1-div1" fxLayout="column" fxLayoutAlign="space-around start">
      <h1  class="dashboard-div1-h1">The All In One Place For</h1>
      <h1  class="dashboard-div1-h1">Your Study Materials</h1>
      <button mat-raised-button routerLink="/home" routerLinkActive="active">Get Started</button>
    </div>
    <img class="img" src="assets/home.png">
  </div>

  <div class="dashboard-div2">
    <div class="dashboard-div2-div" fxLayout="row" fxLayoutAlign="space-evenly  start">

      <mat-card class="mat-card" fxLayout="column" fxLayoutAlign=" center">

        <div class="mat-div" fxLayout="column" fxLayoutAlign="center center">
          <img width="45px" src="assets/repo.png">
        </div>

        <mat-card-header>
          <mat-card-title>Repository</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="mat-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.</p>
        </mat-card-content>

      </mat-card>

      <mat-card class="mat-card" fxLayout="column" fxLayoutAlign=" center">

        <div class="mat-div" fxLayout="column" fxLayoutAlign="center center">
          <img width="35px" src="assets/blog.png">
        </div>

        <mat-card-header>
          <mat-card-title>Blog</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="mat-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.</p>
        </mat-card-content>

      </mat-card>

      <mat-card class="mat-card" class="mat-card" fxLayout="column" fxLayoutAlign=" center">

        <div class="mat-div" fxLayout="column" fxLayoutAlign="center center">
          <img width="15px" src="assets/qus.png">
        </div>

        <mat-card-header>
          <mat-card-title>Question</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="mat-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </mat-card-content>

      </mat-card>

    </div>
  </div>

</div>
