<div>

  <div class="dashboard-div3" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div class="dashboard-div3-div1">

      <h1 class="div3-div1-h1">F A Q</h1>

      <mat-divider
        class="mat-divider mat-divider-horizontal"
        role="separator"
        aria-orientation="horizontal">
      </mat-divider>

      <p class="div3-div1-p">About Us</p>

      <mat-divider
        class="mat-divider mat-divider-horizontal"
        role="separator"
        aria-orientation="horizontal">
      </mat-divider>

      <p class="div3-div1-p">Contact Us</p>

      <mat-divider
        class="mat-divider mat-divider-horizontal"
        role="separator"
        aria-orientation="horizontal">
      </mat-divider>

      <p class="div3-div1-p">Join Us</p>

      <mat-divider
        class="mat-divider mat-divider-horizontal"
        role="separator"
        aria-orientation="horizontal">
      </mat-divider>

      <p class="div3-div1-p">Privacy Police</p>

      <mat-divider
        class="mat-divider mat-divider-horizontal"
        role="separator"
        aria-orientation="horizontal">
      </mat-divider>
      
    </div>

    <div>
      <p>Whatever the name is</p>
    </div>

  </div>



</div>
