.login-with-email-wrapper{
  width: 480px;
  padding: 20px;
  height: 500px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  //transform: translate(-50%, -50%);

  mat-form-field{
    width: 100%;
  }

}
